<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 15px;
            text-align: left;
        }

        #t01 {
            width: 100%;
           
        }
    </style>
</head>

<body>

    <div class="row">
		<div class="col-md-12">
			<div class="panel panel-transparent" data-widget='{"draggable": "false"}'>
				<div class="panel-heading">
					<h1 align='center'>Process Change Report</h1>
                   
				</div>
				<div class="panel-body">
					<div class="row">
						<div class='col-lg-4'>
						</div>
					</div>
					<div class="show-grid">
						<div class="row">
                        <div class='col-xs-4'>
							<div class="col-xs-4">PCR No. ___________________ </div>
							<div class=".col-xs-4">Annual plan No. _____________</div>
							<div class=".col-xs-4">Subject _____________________</div>
                        </div>
							
						</div>
						<div class="row">
							<div class="col-md-4">
                               
                                <Input type="radio" name="sex" value="0">Normal
                                <Input type="radio" name="sex" value="0">Urgent
                            </div>
							
						</div>
						<div class="row">
                            <div class="col-lg-4">
							<div class="col-lg-4">  Issue Date : ___________________</div>
							<div class="col-lg-4">Department : ___________________</div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
    


    










</body>

</html>