<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 15px;
            text-align: left;
        }

        #t01 {
            width: 100%;
           
        }
    </style>
</head>

<body>

    <h1 align='center'>Process Change Report</h1>

    </tr>
    <div class="col-md-4">
        <tr class="orange2">
            <!---<td><b>Actual</b></td> --->
            <td>
                PCR No. ___________________
                Issue Date : ___________________

            </td>
            <br>
            <td>
                Annual plan No. _____________
                <Input type="radio" name="sex" value="0">Normal
                <Input type="radio" name="sex" value="0">Urgent
                Department : ___________________
            </td>
            <br>
            <td>
                Subject ____________________________________________________________________

            </td>

            <td>
                <table style="width:20%">
                    <tr>
                        <th>PCR Rank</th>
                        <th>PCR Type</th>

                    </tr>
                    <tr>
                        <td>C2</td>
                        <td>Repeat</td>

                    </tr>

                </table>
                <br>

                <table id="t01"style="width:20%">
                    <tr>
                        <th></th>
                        <th>Acknowledge2</th>
                        <th>Acknowledge1</th>
                        <th>Approved</th>
                        <th>Checked2</th>
                        <th>Checked1</th>
                        <th>Prepared</th>
                    </tr>
                    <tr>
                        <td>Plan</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        
                    </tr>
                    <tr>
                        <td>Resuit</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                </table>



            </td>

            <td>


            </td>
            <td>

            </td>

        </tr>
    </div>












</body>

</html>